{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "jest",
    "import",
    "prettier",
    "react",
    "react-hooks"
  ],
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "fetch": false
  },
  "rules": {
    "consistent-return": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": false,
      "optionalDependencies": false,
      "peerDependencies": false
    }],
    "jsx-a11y/anchor-is-valid": 0,
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "prettier/prettier": "error",
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/no-access-state-in-setstate": 0,
    "react/no-unused-prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
